extends layout

block content
  .span6
    .hero-unit
      p(style="text-align: center;")
        img(src="/images/logo.png")
      p(style="text-align: justify; text-indent: 40px;")
        | «Тысяча и одна ночь» строится как гигантская обрамленная повесть. И повествование начинается с того, как находчивая и мужественная Шахразада, спасая 
        // a.tooltp(data-tooltip="Акка (европейское название – Сен Жан д'Акр) – город и порт в западной Палестине С 1104 по 1187 год-столица владений франков в «Святой Земле» Затем Акку завоевал султан Салах-ад-дин (Саладин). В 1191 году город вновь перешёл в руки христиан. Их владычество продолжалось после этого сто лет. В 1291 году султан аль Малик аль-Ашраф занял Акку и тем положил конец господству христиан в Палестине.") hover over me
        | свою жизнь и жизнь многих других молодых женщин города, рассказывает царю Шахрияру, ранее обманутому женой и поклявшемуся казнить каждую новую жену после первой же брачной ночи, занимательные истории. С наступлением утра она прерывает свое повествование на самом интересном месте, и увлеченный рассказом царь откладывает казнь на одну ночь ...
      p(style="text-align: center;")
        a.btn.btn-primary(href="/1") Шахразада начинает свой рассказ, принцесса приглашает в сказку Вас

  .span5
    h2 Оглавление
    .well.content
      - contents.forEach(function(item){
      a(href="#{item.chapterNum}") #{item.title}
      hr
      - })